﻿@*@model Controle_Acesso.Models.ACESSO*@
@model Web_Instituicao.Models.Pessoa

@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/devmedia_estilo.css" rel="stylesheet" />

<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken();

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="form-login">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Login do Sistema</div>
                </div>

                <div style="padding-top:30px" class="panel-body">
                    <div style="display:none" id="result" class="alert
                    alert-danger col-sm-12">

                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon
                        glyphicon-user"></i>
                        </span>
                        @Html.EditorFor(model => model.usuario, new
                        {
                            htmlAttributes =
                        new
                             {
                                 @class = "form-control input-lg",
                                 placeholder = "Usuário",
                                 autofocus = true
                             }
                        })
                        @Html.ValidationMessageFor(model => model.usuario, "",
                        new { @class = "text-danger" })
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon
                        glyphicon-lock"></i>
                        </span>
                        @Html.EditorFor(model => model.senha, new
                        {
                            htmlAttributes
                        = new { @class = "form-control input-lg", placeholder = "Senha", type="password"}
                        })
                        @Html.ValidationMessageFor(model => model.senha, "",
                        new { @class = "text-danger" })
                    </div>

                    <div style="margin-top:10px" class="form-group">

                        <div class="col-sm-12 controls">
                            <input type="submit" value="Acessar"
                                   class="btn primary btn-lg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}