﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a.classname {
    /*background: url(../Images/logout_button.png) no-repeat top left;*/
    background: url(../Images/logout_buttonNew.png) no-repeat;
    /*display: block;*/
    /*margin-left: 350px;*/
    margin-left: 10px;
    width: 90px;
    height: 24px;
    margin-top: 6px;
    /* hides the link text */
    text-indent: -9999px;
}
