﻿@model Web_Instituicao.Models.Instituicao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instituicao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mantenedora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mantenedora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credenciamentoMEC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credenciamentoMEC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.instituicaoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
