﻿@model Web_Instituicao.Models.Curso

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grau_curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grau_curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_EMEC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_EMEC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ato_autorizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ato_autorizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ato_reconhecimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ato_reconhecimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ato_renovacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ato_renovacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instituicao.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituicao.nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
