﻿@model Web_Instituicao.Models.Curso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grau_curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grau_curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigo_EMEC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_EMEC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ato_autorizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ato_autorizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ato_reconhecimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ato_reconhecimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ato_renovacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ato_renovacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instituicao.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instituicao.nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cursoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
