﻿@model IEnumerable<Web_Instituicao.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome_curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.grau_curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codigo_EMEC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ato_autorizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ato_reconhecimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ato_renovacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instituicao.nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.grau_curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_EMEC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ato_autorizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ato_reconhecimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ato_renovacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instituicao.nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cursoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.cursoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cursoID })
        </td>
    </tr>
}

</table>
